# =========================
# Dependency folders - DIBUKA agar editan manual ikut tercopy
# =========================
# hanya dipakai di development, tidak perlu di-copy ke image production
node_modules

# Dipakai di image production
# vendor

android
icons
tests

# =========================
# Laravel specific - LOCK sampah cache
# =========================
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*.php
storage/logs/*.log
bootstrap/cache/*
public

# =========================
# Version control & OS files
# =========================
.git
.gitattributes
.gitignore
.DS_Store
Thumbs.db

# =========================
# Environment & IDE
# =========================
.env
.idea
.vscode

*.zip
*.tar
*.tar.gz