APP_NAME="Bagus Dinamika Nusantara"
APP_KEY=base64:uXd3Ed5CL6tFY4GEaqksemIVQrWzseiGsz2/GsDuVIU=
APP_URL=http://localhost
APP_ENV=local
APP_DEBUG=true
# APP_URL=https://talented-prime-foal.ngrok-free.app
# APP_ENV=production
# APP_DEBUG=false

# WITH EVOLUTION API CONFIGS
EVOLUTION_API_BASE_URL="http://192.168.51.250:8080"
# EVOLUTION_API_BASE_URL="http://127.0.0.1:8080"
# EVOLUTION_API_BASE_URL="https://wa.ade-setiawan.my.id"
EVOLUTION_API_INSTANCE_NAME="ade-setia"
EVOLUTION_API_KEY="KunciRahasiaSaya999"

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

# # plink.exe -ssh -P 2223 idnq7835@juwana.iixcp.rumahweb.net -pw Fe1eQTX8Giby49 -L 3308:127.0.0.1:3306 -N -v
# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3308
# DB_DATABASE=idnq7835_bdn_karanganyar
# DB_USERNAME=idnq7835_bdn_ade99setia
# DB_PASSWORD="aC0w2%Ma)cdIjK2%"

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=failover
MAIL_SCHEME=smtps
MAIL_HOST=mail.idnsolo.com
MAIL_PORT=465
MAIL_USERNAME=info@idnsolo.com
MAIL_PASSWORD="_}lj9+$v.@4Rqw&n"
MAIL_FROM_ADDRESS=info@idnsolo.com
MAIL_FROM_NAME="${APP_NAME}"

ANDROID_APP_LINK_ENABLED=true
ANDROID_APP_LINK_PACKAGE_NAME=com.example.appbagusdinamikanusantara
ANDROID_APP_LINK_SHA256_FINGERPRINTS=E0:FD:AB:A2:13:E2:8A:05:3A:57:83:36:04:F3:FD:D5:49:3D:C2:05:F2:32:53:CB:A8:A7:14:B3:03:18:E2:2F

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

FCM_SERVICE_ACCOUNT_PATH=storage/app/firebase/bdn-karanganyar-2a663bccfa0e.json
