APP_NAME="Bagus Dinamika Nusantara"
APP_KEY=
APP_URL=http://localhost:8081
APP_ENV=production
APP_DEBUG=false

LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=bdn_karanganyar_db
DB_PORT=3306
DB_DATABASE=bdn_karanganyar_db
DB_USERNAME=bdn_user
DB_PASSWORD=

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database

MAIL_MAILER=failover
MAIL_HOST=mail.idnsolo.com
MAIL_PORT=465
MAIL_USERNAME=info@idnsolo.com
MAIL_PASSWORD=

VITE_APP_NAME="${APP_NAME}"